body {
    background-color: #1e1e1e;
    color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.surfr-btn {
    /* baja blast greenish */
    background-color: #70f1c0; 
    color: #1e1e1e;
    font-weight: bold;
    border: none;
    padding: 1rem 2rem;
    border-radius: 12px;
    transition: background-color 0.2s;
}

.surfr-btn:hover {
  background-color: #5adfb1;
}

